<style>
  footer {
    background-color: {{ section.settings.color_footer_bg }};
  }

  footer .footer-menu .menu-title, footer .social-title{
    color: {{ section.settings.color_footer_titles }};
  }

  footer .footer-menu a{
    color: {{ section.settings.color_footer_text }};
  }

  .divider-line {
    border-bottom: 1px solid {{ section.settings.divider_line_color }};
  }
</style>

<footer>
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="row">
                {% for block in section.blocks %}
                {%- assign footer_linklist = block.settings.menu -%}
                  <div class="col-md-4">
                      <div class="footer-menu footer-fade-in">
                          <span class="menu-title">{{ block.settings.title }}</span>
                          <ul>
                            {%- for link in linklists[footer_linklist].links -%}
                              <li>
                                  <a href="{{ link.url}}">{{ link.title }}</a>
                              </li>
                            {%- endfor -%}
                          </ul>
                      </div>
                  </div>
                {% endfor %}
              </div>
          </div>
          <div class="col-md-6">
              <div class="footer-fade-in">
                  <div class="social-title">Follow Us</div>
                  <ul class="social-icons">
                    {% if settings.social_facebook_link != blank %}
                      <li>
                          <a href="{{ settings.social_facebook_link }}">
                              <i class="fa fa-facebook" aria-hidden="true"></i>
                          </a>
                      </li>
                    {% endif %}
                    {% if settings.social_twitter_link != blank %}
                      <li>
                          <a href="{{ settings.social_twitter_link }}">
                              <i class="fa fa-twitter" aria-hidden="true"></i>
                          </a>
                      </li>
                    {% endif %}
                    {% if settings.social_instagram_link != blank %}
                      <li>
                          <a href="{{ settings.social_instagram_link }}">
                              <i class="fa fa-instagram" aria-hidden="true"></i>
                          </a>
                      </li>
                    {% endif %}
                    {% if settings.social_pinterest_link != blank %}
                      <li>
                          <a href="{{ settings.social_pinterest_link }}">
                              <i class="fa fa-pinterest" aria-hidden="true"></i>
                          </a>
                      </li>
                    {% endif %}
                    {% if settings.social_youtube_link != blank %}
                      <li>
                          <a href="{{ settings.social_youtube_link }}">
                              <i class="fa fa-youtube" aria-hidden="true"></i>
                          </a>
                      </li>
                    {% endif %}
                    {% if settings.social_snapchat_link != blank %}
                      <li>
                          <a href="{{ settings.social_snapchat_link }}">
                              <i class="fa fa-snapchat" aria-hidden="true"></i>
                          </a>
                      </li>
                    {% endif %}
                  </ul>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-12 footer-fade-in">
              <hr class="divider-line">
              <span class="address">{{ section.settings.footer_bottom_text }}</span>
          </div>
      </div>
  </div>
</footer>


<!-- SCHEMA SETTINGS -->

{% schema %}
{
  "name": {
    "da": "Sidefod",
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fi": "Alatunniste",
    "fr": "Pied de page",
    "hi": "फुटर",
    "it": "Footer",
    "ja": "フッター",
    "ko": "바닥글",
    "nb": "Footer",
    "nl": "Voettekst",
    "pt-BR": "Rodapé",
    "pt-PT": "Rodapé",
    "sv": "Sidfot",
    "th": "ส่วนท้าย",
    "zh-CN": "页脚",
    "zh-TW": "頁尾"
  },
  "max_blocks": 3,
  "settings": [
    {
      "type": "header",
      "content": {
        "da": "Farve",
        "de": "Farbe",
        "en": "Color",
        "es": "Color",
        "fi": "Väri",
        "fr": "Couleur",
        "hi": "रंग",
        "it": "Colore",
        "ja": "色",
        "ko": "색상",
        "nb": "Farge",
        "nl": "Kleur",
        "pt-BR": "Cor",
        "pt-PT": "Cor",
        "sv": "Färg",
        "th": "สี",
        "zh-CN": "颜色",
        "zh-TW": "顏色"
      }
    },
    {
      "type": "color",
      "id": "color_footer_bg",
      "label": {
        "da": "Baggrund",
        "de": "Hintergrund",
        "en": "Footer Background",
        "es": "Fondo",
        "fi": "Tausta",
        "fr": "Couleur de fond",
        "hi": "पृष्ठभूमि",
        "it": "Sfondo",
        "ja": "背景",
        "ko": "배경",
        "nb": "Bakgrunn",
        "nl": "Achtergrond",
        "pt-BR": "Plano de fundo",
        "pt-PT": "Fundo",
        "sv": "Bakgrund",
        "th": "พื้นหลัง",
        "zh-CN": "背景",
        "zh-TW": "背景"
      },
      "default": "#1b1b1b"
    },
    {
      "type": "color",
      "id": "color_footer_titles",
      "label": {
        "da": "Baggrund",
        "de": "Hintergrund",
        "en": "Footer Text Title",
        "es": "Fondo",
        "fi": "Tausta",
        "fr": "Couleur de fond",
        "hi": "पृष्ठभूमि",
        "it": "Sfondo",
        "ja": "背景",
        "ko": "배경",
        "nb": "Bakgrunn",
        "nl": "Achtergrond",
        "pt-BR": "Plano de fundo",
        "pt-PT": "Fundo",
        "sv": "Bakgrund",
        "th": "พื้นหลัง",
        "zh-CN": "背景",
        "zh-TW": "背景"
      },
      "default": "#fff000"
    },
    {
      "type": "color",
      "id": "color_footer_text",
      "label": {
        "da": "Tekst",
        "de": "Text",
        "en": "Footer Links",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": "#f6f6f6"
    },
    {
      "type": "color",
      "id": "divider_line_color",
      "label": "Footer Divider Line Color",
      "default": "#ebebeb"
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "textarea",
      "id": "footer_bottom_text",
      "label": "Footer Bottom Text",
      "default": "Storename 23 Grand Ave, Los Angeles, California 11234"
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": {
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "hi": "मेनू",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "nb": "Meny",
        "nl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "da": "Overskrift",
            "de": "Überschrift",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "Titre",
            "hi": "शीर्षक",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": {
            "da": "Hurtige links",
            "de": "Quick-Links",
            "en": "Quick links",
            "es": "Enlaces rápidos",
            "fi": "Pikalinkit",
            "fr": "Liens rapides",
            "hi": "त्वरित लिंक",
            "it": "Link rapidi",
            "ja": "クイックリンク",
            "ko": "빠른 링크",
            "nb": "Hurtigkoblinger",
            "nl": "Snelle links",
            "pt-BR": "Links rápidos",
            "pt-PT": "Ligações rápidas",
            "sv": "Snabblänkar",
            "th": "ลิงก์ด่วน",
            "zh-CN": "快速链接",
            "zh-TW": "快速連結"
          }
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": {
            "da": "Menu",
            "de": "Menü",
            "en": "Menu",
            "es": "Menú",
            "fi": "Valikko",
            "fr": "Menu",
            "hi": "मेनू",
            "it": "Menu",
            "ja": "メニュー",
            "ko": "메뉴",
            "nb": "Meny",
            "nl": "Menu",
            "pt-BR": "Menu",
            "pt-PT": "Menu",
            "sv": "Meny",
            "th": "เมนู",
            "zh-CN": "菜单",
            "zh-TW": "選單"
          },
          "default": "footer"
        }
      ]
    }
  ]
}
{% endschema %}