<style>
  #products-group .product-bg .overlay{
    background: {{ section.settings.product_hover_bg_color }};
    color: {{ section.settings.product_hover_text_color }};
  }
</style>

{%- assign collection = collections[section.settings.collection] -%}


<section class="products-group-section">
  <h2>{{ collection.title }}</h2>
  <div class="container">
    <div class="row">
      {% for product in collection.products limit: section.settings.max_products %}
        <div class="col-md-6 col-lg-3">
          <a href="{{ product.url}}" class="product-bg">
            <img src="{{ product.featured_image | img_url: '300x' }}" class="product-img">
            <div class="overlay" style="background-color: {{ section.settings.background_color | color_modify:'alpha', 0.85 }}">
              <span class="product-title">{{ product.title }}</span>
              <span class="product-price">{{ product.price | money_with_currency }}</span>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Products Group",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection",
      "info": "Choose a collection"
    },
    {
      "type": "text",
      "id": "max_products",
      "label": "Maximum Amount of Products",
      "default": "4"
    },
    {
      "type": "color",
      "id": "product_hover_bg_color",
      "label": "Hover Background Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "product_hover_text_color",
      "label": "Hover Text Color",
      "default": "#ffff00"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Horizontal Background Overlay",
      "default": "#7ab55c"
    }
  ],
  "presets": [
    {
      "name": "Products Group",
      "category": "Collection"
    }
  ]
}

{% endschema %}